<h1>Register</h1>


<form ng-submit="register.register()">
  <div>
    <label for="firstname">First name</label>
    <input type="text" name="firstname" placeholder="firstname" ng-model="register.user.first_name">
  </div>
  <div>
    <label for="lastname">Last name</label>
    <input type="text" name="lastname" placeholder="lastname" ng-model="register.user.last_name">
  </div>
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="username" ng-model="register.user.username">
  </div>

  <div>
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="email" ng-model="register.user.email">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="password" ng-model="register.user.password">
  </div>
  <div>
    <label for="passwordConfirmation">Confirm your password</label>
    <input type="password" name="passwordConfirmation" placeholder="confirm your password" ng-model="register.user.passwordConfirmation">
  </div>
  <input type="submit" value="Register">
</form>
<!-- <a ui-sref="login">Login</a> -->
